* {
    font-family: "Fira Code", sans-serif;
    font-weight: 800;
    transition: 0.2s all ease;
    background: none;
}

#workspaces {
    margin: 3px;
    padding: 10px 10px;
    border-radius: 8px;
    background-color: #11111b;
}

#workspaces button {
    padding: 0;
    margin: 0 2px;
    border-radius: 24px;
    font-size: 0;
    min-width: 10px;
    min-height: 10px;
    background-color: #cdd6f4;
    color: transparent;
    transition: background-color 0.2s;
}


#workspaces button.active {
    color: black;
    background-color: #cdd6f4;
    min-width: 30px;
    padding: 0;
}

#workspaces button.urgent {
    background-color: #d20f39;
    color: black;
    padding: 0;
}

#pulseaudio,
#network,
#backlight,
#cpu,
#memory,
#temperature,
#language,
#custom-weather,
#battery,
#tray,
#clock {
    margin: 3px 2px;
    padding: 2px 14px;
    font-size: 13px;
    background-color: #11111b;
    border-radius: 8px;
    color: #cdd6f4;
}

#temperature.critical {
    background-color: #d20f39;
    font-size: 13px;
    color: #cdd6f4;
}

#battery.critical:not(.charging) {
    color: #d20f39;
    animation-name: blink;
    font-size: 13px;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #cdd6f4;
    font-size: 13px;
    background-color: #40a02b;
}

#pulseaudio.muted {
    font-weight: bolder;
    font-size: 13px;
    padding: 0 20px;
    color: #d20f39;
}

@keyframes blink {
    to {
        background-color: #d20f39;
        color: #181825;
    }
}

tooltip {
    background-color: #11111b;
    font-size: 13px;
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: #cdd6f4;
}
